<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Textutils</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;code for video-8&ndash;&gt;-->
<!--&lt;!&ndash;hello i am template <br>&ndash;&gt;-->
<!--&lt;!&ndash;{{ name }} is from {{ place }}&ndash;&gt;-->

<!--&lt;!&ndash;code for video-9&ndash;&gt;-->
<!--<h1>Welcome to the text analyser, Enter your text below</h1>-->

<!--&lt;!&ndash;for video-9&ndash;&gt;-->
<!--&lt;!&ndash;<form action='/removepunctuation' method="get">&ndash;&gt;-->

<!--&lt;!&ndash;for video-10&ndash;&gt;-->
<!--<form action='/analyse' method="get">-->
<!--    <textarea name="text" style='margin: 0px; width: 759px; height: 80px;'></textarea> <br>-->

<!--    <input type="checkbox", name="removepunctuation"> Remove punctuations <br>-->
<!--    <input type="checkbox", name="fullcaps"> Capitalise Text <br>-->
<!--    <input type="checkbox", name="newlineremover"> New Line Remover <br>-->
<!--    <input type="checkbox", name="extraspaceremover">Extra Space Remover <br>-->
<!--    <input type="checkbox", name="charcounter">Count characters <br>-->
<!--    <button type="submit">Analyse Text</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

